# Environment
.env
*.env.local

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# Node
node_modules/
frontend/build/
frontend/.env.local

# Database
*.db
*.sqlite

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
